<p id="notice"><%= notice %></p>

<h1>Listing Testurls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testurls.each do |testurl| %>
      <tr>
        <td><%= testurl.name %></td>
        <td><%= link_to 'Show', testurl %></td>
        <td><%= link_to 'Edit', edit_testurl_path(testurl) %></td>
        <td><%= link_to 'Destroy', testurl, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testurl', new_testurl_path %>
